.home{
    background: #0502e0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
    
}

.imahe{
    display: block;
    width:100vh;
    height: 120vh; 
    margin-left:110vh;
    margin-top: 5%;
    width:120vh;
    height: 120vh; 
}

.home-intro{
    width: 50%;
    display: flex box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    font-size: 50px;
    color: white;
}

.home-image{
    width: 50%;
    height: 80vh;
}

pic-ko{
    margin: 50px auto;
    height: 80vh;

}

.title{
    margin-top: 5%;
    animation-name: moveRight;
    animation-duration: 0.7s;
    color: rgb(255, 255, 255);
}

.titleTwo{
   animation-name: moveLeft;
   animation-duration: 1s;
   color: rgb(255, 255, 255);
}

.titleThree{
    animation-name: moveRight;
    animation-duration: 1.3s;
    color: #eeff04;
 }

.text{
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.button{
    font-size: 16px;
    border: 2px solid white;
    border-radius: 5px;
    outline: none;
    background-color: #ff0000;
    color:rgb(255, 255, 255);
    padding: 12px 25px;
    position: relative;
    transform: translateZ(0);
    animation-name: moveUp;
    animation-duration: 1s;
    cursor: pointer;
}

.button:before{
    content:"";
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background: #ff0000;
    transform: scaleX(0);
    transition: 300ms ease-out;
}

.button:hover:before{
    transform: scaleX(1);
}

@keyframes moveRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveLeft{
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveUp {
    0% {
        opacity: 0;
        transform:  translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translate(0)
    }
}

@media screen and (max-width:1100px){
    .home-intro {
        width: 100vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        font-size: 50px;
        margin: 0 auto;
        padding-left: 80px;
    }
    
    .home-image{
        display: none;
    }

    .button{
        padding:10x 20px;
    }
}

@media screen and (max-width: 800px) {
    .home-intro {
        padding-left:40px;
        font-size:40px;
    }    

    .home-image{
        display: none;
    }

    .button{
        padding: 8px 16px;
    }
}

@media screen and (max-width: 600px) {
    .home-intro{
        font-size: 30px;
    }

    .text{
        font-size: 24px;
    }
    .button {
        padding: 6px 12px;
    }

}